.FilmItem{
    margin-bottom: 10px;
    margin-top: 10px;
}
.FilmItem>.FilmItemContainer,
.FilmItem *{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.FilmItem>.FilmItemContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.FilmItem.image{
    height: 20%;
    padding-right: 15px;
    border-radius: 30px;
}

.FilmItem.image img{
    height: 50vh;
    width: auto;
    border-radius: 30px;
}